<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="1000" >
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
	<title>{{pageTitle}}</title>
</head>

<body>
	<p>distance to leuven: {{distanceToLeuven}} </p>
	<p>distance to Brussels North: {{distanceToBrusselsNorth}}</p>
	<div class="container-fluid">
		<div class="row titeltekst">
			<div class="col-12">{{message}}<span class="update">(laatste update: {{latestUpdate}})</span></div>
		</div>
		<div class="row">
			<div class="col-2">Verwacht</div>
			<div class="col-1">In</div>
			<div class="col-1">Sp.</div>
			<div class="col-1">Duur</div>
			<div class="col-3">Richting</div>
			<div class="col-2">Voorzien</div>
			<div class="col-1">Vertr.</div>
			<div class="col-1">Opm.</div>
		</div>
		{{#each connections}}
		<div class="row blauwetekst">
			<div class="col-2">{{this.realTime}}</div>
			<div class="col-1">{{this.minLeft}}</div>
			<div class="col-1">{{this.platform}}</div>
			<div class="col-1">{{this.durationMin}}</div>
			<div class="col-3">{{this.direction}}</div>
			<div class="col-2">{{this.time}}</div>
			<div class="col-1">{{this.delayMin}}</div>
			<div class="col-1"></div>
		</div>
		{{/each}}
	</div>

	
</body>

</html>